# Append this block to ~/.gitconfig (do not replace the whole file)

[includeIf "gitdir:~/EY_landing_mockup/"]
	path = ~/.gitconfig-joshirishi
[includeIf "gitdir:~/Morpheus/"]
	path = ~/.gitconfig-morpheus
